{% extends "layout.htm" %}
{% block title %}Cursos {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}

    <div class="container">
      <div class="row">
       

            <h1 style="margin: 0 0 20px 0"> Administración de Cursos</h1>

         

                <div class="col-md-12">
                  <form role="form" action="" method="post" class="form-control">

                  <table id="filtros_table" class="table">
                    <thead class="thead-light">
                      <tr>
                          <td>
                          <div class="form-group">
                              <label for="form-curso">Curso</label>
                              <select class="form-control" id="form-curso" name="form-curso">
                                <option value="0" selected>Todos</option>
                              {% for option in cursoList %}
                               <option value="{{ option.curs_id }}">{{ option.curs_nombre }}</option>
                               {% endfor %}
                             </select>
                            </div>
                          </td>
                          <!--<td>
                            <div class="form-group">
                                <label for="form-anio">Anio</label>
                                <select class="form-control" id="form-anio" name="form-anio">
                                  <option value="0" selected>Todos</option>
                                  <option value="2018" >2018</option>
                                  <option value="2019" >2019</option>
                                  <option value="2020" >2020</option>
                                  <option value="2021" >2021</option>                                 
                               </select>
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <label for="form-cuatrimestre">Cuatrimestre</label>
                                <select class="form-control" id="form-cuatrimestre" name="form-cuatrimestre">
                                  <option value="0" selected>Todos</option>
                                  <option value="1" >Primero</option>
                                  <option value="2" >Segundo</option>
                               </select>
                              </div>
                          </td>-->
                          <td>
                            <div class="form-group">
                              <label for="form-estado">Estado</label>
                                <select id="form-estado" class="form-control" name="form-estado"  >
                                  <option value="Todos" >Todos</option>
                                  <option value="Activo" SELECTED>Activo</option>
                                  <option value="Inactivo">Inactivo</option>
                                </select>                          
                            </div>
                      </tr>
                      <tr>
                          <td colspan="1"/>
                          <td>
                            <div class="form-group">
                              <button type="submit" name="action" value="buscar" class="btn btn-success">Buscar</button>
                              <button type="button" name="action" value="limpiar" onclick="fnLimpiarFiltros()" class="btn btn-success">Limpiar</button>
                              <button type="button" onclick="fnDetalleCurso('agregar','0')" name="action" value="agregar" class="btn btn-primary">Agregar</button>
                            </div>
                          </td>
                      </tr>
                </thead>
                </table>
              </form>

              </div>

              
              {% block content %}
                {% if listaBusqueda %}

              <div class="col-md-12">

     
                <div class="row alumno align-items-center">

                  <div id="alumnos">
                    <table id="nodoTable" class="table table-bordered table-light">
                      {% for fila in listaBusqueda  %}
                        {% if loop.index == 1 %} 
                          <thead class="thead-light">
                              <tr>
                                  <th colspan=3></th>                             
                                  <th>ID</th>
                                  <th>Nombre</th>
                                  <th>Estado</th>
                                  <th>Detalle</th>
                                  <!--<th>Cuatrimestre</th>-->
                              </tr>
                          </thead>
                        {% endif %}
                        <tbody>
                            <tr><!--/{{fila.nodo_id}}-->
                                <td><a onclick="fnDetalleCurso('detalle', {{fila.curs_id}})" placeholder="Detalle"><img src="../static/img/grid-detalle.png"></a></td>
                                <td><a onclick="fnDetalleCurso('editar', {{fila.curs_id}})" placeholder="Modificar"><img src="../static/img/grid-editar.png"></a></td>
                                {% if fila.curs_estado == 'Inactivo'%}
                                  <td colspan=1></td>
                                {%else%}
                                <td><a onclick="fnDetalleCurso('eliminar', {{fila.curs_id}})" placeholder="Eliminar"><img src="../static/img/grid-eliminar.png"></a></td> 
                                {%endif%}  
                                <td>{{ fila.curs_id }}</td>
                                <td>{{ fila.curs_nombre }}</td>
                                <td>{{ fila.curs_estado }}</td>
                                <td>{{fila.curs_detalle }}</td>
                                <!--<td>{{ fila.curs_cuatrimestre }}</td>-->

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                  </div> <!--nodos-->
                </div> <!--row nodos-->
     
            </div> <!-- row-->
            {% endif %}
            {% endblock %}
     
            
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
<script type="text/javascript">

       jQuery(document).ready(function($){
        // {% if anioSelect %}
        //    $('select.form-anio').find('option[value={{anioSelect}}]').attr('selected','selected');
        // {% endif %}
        // {% if cuatrimestreSelect %}
        //    $('select.form-cuatrimestre').find('option[value={{cuatrimestreSelect}}]').attr('selected','selected');
        // {% endif %}
        {% if estadoSelect %}
           $(document.querySelector("#form-estado")).find('option[value={{estadoSelect}}]').attr('selected','selected');
        {% endif %}
        {% if cursoSelect %}
          $(document.querySelector("#form-curso")).find('option[value={{cursoSelect}}]').attr('selected','selected');
        {% endif %}
          });
  
  function fnLimpiarFiltros(){
          // document.getElementById("form-anio").selectedIndex = 0;
          document.getElementById("form-estado").selectedIndex = "Todos";
          // document.getElementById("form-cuatrimestre").selectedIndex = 0;
          document.getElementById("form-curso").selectedIndex = 0;
  
          return true;

        }

  
  
  function fnDetalleCurso(destino, id) {
        var w = 600;
        var h = 600;
        var left = Number((screen.width/2)-(w/2));
        var tops = Number((screen.height/2)-(h/2));

        
        if (destino == "detalle"){
          window.open("/detalleCurso?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "editar"){
          window.open("/editarCurso?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "agregar"){
           window.open("/agregarCurso", 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        }
        if (destino == "eliminar"){
            // if (confirm("¿Confirma la operacion?")){
            //   window.open("/eliminarCurso?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
            // }
          $('#confirmModal').find('#btCancelar')
              .off('click').on('click', () => console.log('cancelar', id) );

          $('#confirmModal').find('#btAceptar')
                          .off('click').on('click', () =>  window.open("/eliminarCurso?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left) );//console.log('aceptar', id) );
          
          $("#modalTitle").html('Desactivar Curso');

          $('#confirmModal').modal("show"); 
        }
          
        return false;
        
}
  </script>       


{% endblock %}
