{% extends "layoutDetalle.htm" %}
{% block title %}Profesor {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
         
        <h1 style="margin: 0 0 10px 0">Detalle de Profesor</h1>
        <br>
    
        
        
        <form role="form" action="" method="post" class="form-control" onsubmit="return fnValidateForm()">

 
          <div  class="col-md-12">
          
                    {% if actionSelect!="agregar"  %} 
                        <div class="form-group">
                          <label for="form-id">ID</label>
                          <input type="text" name="form-id-show" class="form-control" id="form-id-show" value="{%if profesorSelect %}  {{profesorSelect.prof_id}} {%endif%}"  disabled>
                          <input type="hidden" name="form-id" class="form-control" id="form-id" value="{%if profesorSelect %} {{profesorSelect.prof_id}} {%endif%}" >
                        </div>
                    {%endif%}

                        <div class="form-group">
                          <label for="form-dni">DNI</label>
                          <input type="text" name="form-dni" class="form-control" id="form-dni" value="{%if profesorSelect %} {{profesorSelect.prof_dni}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                        </div>

                        <div class="form-group">
                          <label for="form-nombre">Nombre</label>
                          <input type="text" name="form-nombre" class="form-control" id="form-nombre" value="{%if profesorSelect %} {{profesorSelect.prof_nombre}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                        </div>
                        
                        <div class="form-group">
                          <label for="form-apellido">Apellido</label>
                          <input type="text" name="form-apellido" class="form-control" id="form-apellido" value="{%if profesorSelect %} {{profesorSelect.prof_apellido}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                        </div>

                        <div class="form-group">
                          <label for="form-direccion">Direccion</label>
                          <input type="text" name="form-direccion" class="form-control" id="form-direccion" value="{%if profesorSelect %} {{profesorSelect.prof_direccion}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                        </div>

                        <div class="form-group">
                          <label for="form-ciudad">Ciudad de Trabajo</label>
                            <select class="form-control" id="form-ciudad" name="form-ciudad"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%}>
                              {% for option in ciudadList %}
                              <option value="{{ option.ciud_id }}"{% if loop.first %} SELECTED {% endif %} >{{ option.ciud_nombre }}</option>
                              {% endfor %}
                            </select>                          
                        </div>
                        <div class="form-group">
                          <label for="form-estado">Estado</label>
                            <select class="form-control" id="form-estado" name="form-estado"  {% if actionSelect =="detalle"  %} disabled {%else%} required {%endif%}>
                              <option value="Activo" SELECTED>Activo</option>
                              <option value="Inactivo">Inactivo</option>
                            </select>                          
                        </div>

                      <div class="form-group">
                          <label for="form-telefono">Telefono</label>
                          <input type="text" name="form-telefono" class="form-control" id="form-telefono" value="{%if profesorSelect %} {{profesorSelect.prof_telefono}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                        </div>

                        <div class="form-group">
                          <label for="form-email">Email</label>
                          <input type="email" name="form-email" class="form-control" id="form-email" value="{%if profesorSelect %} {{profesorSelect.prof_email}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled {%else%} required {%endif%} >
                          <small id="emaildHelpBlock" class="form-text text-muted">No lo compartiremos con nadie</small>                        
                        </div>

                        <div class="form-group">
                          <label for="form-linkedin">@Linkedin</label>
                          <input type="text" name="form-linkedin" class="form-control form-control-sm" id="form-linkedin" value="{%if profesorSelect %} {{profesorSelect.prof_linkedin}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled  {%endif%} >
                          <small id="linkedinHelpBlock" class="form-text text-muted">No obligatorio, solo si quieres otra forma de contacto</small>                        
                        </div>

                        <div class="form-group">
                          <label for="form-twitter">@Twitter</label>
                          <input type="text" name="form-twitter" class="form-control form-control-sm" id="form-twitter" value="{%if profesorSelect %} {{profesorSelect.prof_twitter}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled  {%endif%} >
                          <small id="twitterHelpBlock" class="form-text text-muted">No obligatorio, solo si quieres otra forma de contacto</small>                        
                        </div>

                        <div class="form-group">
                          <label for="form-instagram">@instagram</label>
                          <input type="text" name="form-instagram" class="form-control" id="form-instagram" value="{%if profesorSelect %} {{profesorSelect.prof_instagram}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled  {%endif%} >
                          <small id="instagramHelpBlock" class="form-text text-muted">No obligatorio, solo si quieres otra forma de contacto</small>                        
                        </div>

                        <div class="form-group">
                          <label for="form-facebook">@facebook</label>
                          <input type="text" name="form-facebook" class="form-control" id="form-facebook" value="{%if profesorSelect %} {{profesorSelect.prof_facebook}} {%endif%}"  {% if actionSelect=="detalle"  %} disabled  {%endif%} >
                          <small id="facebookHelpBlock" class="form-text text-muted">No obligatorio, solo si quieres otra forma de contacto</small>                        

                        </div>

                        
                      <div class="form-group">
                        <label for="form-fecha-alta">Datos del Sistema</label>
                        <div>
                          <table class="table table-sm">
                            <tr>
                              <td><input type="text" class="form-control" name="form-fecha_alta" value="Fecha de Alta: {%if profesorSelect %} {{profesorSelect.prof_fecha_alta}} {%endif%}" disabled></td>
                              <td><input type="text" class="form-control" name="form-estado-show" value="Estado: {%if profesorSelect %} {{profesorSelect.prof_estado}} {%endif%}" disabled></td>
                            </tr>
                            <tr>
                              <td><input type="text" class="form-control" name="form-fecha-modif" value="Fecha de Modificación: {%if profesorSelect %} {{profesorSelect.prof_fecha_modif}} {%endif%}"  disabled></td>
                              <td><input type="text" class="form-control" name="form-usuario_modif" value="Usuario de Modificación: {%if profesorSelect %} {{profesorSelect.prof_usuario_modif}} {%endif%}" disabled></td>
                            </tr>        
                            </table>
                          </div>
                      </div>
                        
                       <!--Hacer funcion para renderizar template y almacenar la info del form-->  
                      <div class="form-group" align="center">
                        {%if actionSelect == 'detalle'%}    
                          <button type="button" onclick="window.close()" name="action" value="cancelar" class="btn btn-primary">Cerrar</button>
                        {%else%}
                        <button type="button" onclick="if (confirm('No se guardaran las modificaciones')) window.close();" name="action" value="cancelar" class="btn btn-primary">Cerrar</button>
                        <button type="submit" name="action" value="guardar" onclick="fnConfirmar()" class="btn btn-success">Guardar</button>
                        {%endif%}
                      </div>
                        <br>

                  
          </div>   
        </form>

      </div><!--row-->
    </div> <!--container-->
 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript">
$(function() {
  $('#form-fecha-nacimiento').datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-100:+0'});
});

jQuery(document).ready(function($){
  {% if profesorSelect %}
    $(document.querySelector("#form-ciudad")).find('option[value={{profesorSelect.prof_ciud_id}}]').attr('selected','selected');
    $(document.querySelector("#form-estado")).find('option[value={{profesorSelect.prof_estado}}]').attr('selected','selected');

  {% endif %}

});

function fnValidateForm()
{
    
    var nombre = document.getElementById("form-nombre").value;
    if (nombre.length == 0){
      alert("El nombre es obligatorio");
    }

  
    return true;

}

  function fnConfirmar(form){

    var acepta = confirm("¿Confirma las modificaciones?")
    if (acepta) {
      form.submit();
       return true; 
      } else {
          return false;
      } 
    
  }

</script>
{% endblock %}
