<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<link rel="shortcut icon" href="../imagenes/favicon.ico" type="image/x-icon"/>
	 <link href="/templates/head.htm" rel="import" />
	<link href="../static/css/index.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
	<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<title>CA: Astrologia</title>

</head>

{% extends "layout.htm" %}
{% block body %}

<body>
	<div class="bodyimage">

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 form-box">
				<p id="titulo1" class="text-center">Consciencia autocritica</p>
				<p id="titulo1" class="text-center">Modulo Astrologia</p>
			</div>
		</div>
		<div id="titulo1">
			<h1>Signos Zodiacales</h1>
		</div>





		<div class="row">
			<div class="col-md-4">
				<a href="https://carta-natal.es/aries.php" target="_signo">
					<img src="../static/imagenes/Aries.png" class="centrado" class="img-responsive">
					<h1 id="titulo1" class="text-center">Aries</h1>
					<p id="titulo3" class="text-center">21 de marzo - 20 de abril</p>
					<p id="titulo3" class="text-center">https://carta-natal.es/aries.php</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://carta-natal.es/tauro.php" target="_signo">
					<img src="../static/imagenes/Tauro.png" class="centrado" class="img-responsive">
					<h1 id="titulo1" class="text-center">Tauro</h1>
					<p id="titulo3" class="text-center">21 de abril - 20 de mayo</p>
					<p id="titulo3" class="text-center">https://carta-natal.es/tauro.php</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="https://carta-natal.es/geminis.php" target="_signo">
					<img src="../static/imagenes/Geminis.png" class="centrado" class="img-responsive">
					<h1 id="titulo1" class="text-center">Geminis</h1>
					<p id="titulo3" class="text-center">21 de mayo - 21 de junio</p>
					<p id="titulo3" class="text-center">https://carta-natal.es/geminis.php</p>
				</a>
			</div>


			<div class="row">
				<div class="col-md-4">
					<a href="https://carta-natal.es/cancer.php" target="_signo">
						<img src="../static/imagenes/Cancer.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Cancer</h1>
						<p id="titulo3" class="text-center">22 de junio - 22 de julio</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/cancer.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/leo.php" target="_signo">
						<img src="../static/imagenes/Leo.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Leo</h1>
						<p id="titulo3" class="text-center">23 de julio - 23 de agosto</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/leo.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/virgo.php" target="_signo">
						<img src="../static/imagenes/Virgo.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Virgo</h1>
						<p id="titulo3" class="text-center">24 de agosto - 23 de septiembre</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/virgo.php</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="https://carta-natal.es/libra.php" target="_signo">
						<img src="../static/imagenes/Libra.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Libra</h1>
						<p id="titulo3" class="text-center">24 de septiembre - 22 de octubre</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/libra.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/escorpio.php" target="_signo">
						<img src="../static/imagenes/Escorpio.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Escorpio</h1>
						<p id="titulo3" class="text-center">23 de octubre - 22 de noviembre</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/escorpio.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/sagitario.php" target="_signo">
						<img src="../static/imagenes/Sagitario.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Sagitario</h1>
						<p id="titulo3" class="text-center">23 de noviembre - 21 de diciembre </p>
						<p id="titulo3" class="text-center">https://carta-natal.es/sagitario.php</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a href="https://carta-natal.es/capricornio.php" target="_signo">
						<img src="../static/imagenes/Capricornio.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Capricornio</h1>
						<p id="titulo3" class="text-center">22 de diciembre - 19 de enero</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/capricornio.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/acuario.php" target="_signo">
						<img src="../static/imagenes/Acuario.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Acuario</h1>
						<p id="titulo3" class="text-center">20 de enero - 19 de febrero</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/acuario.php</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="https://carta-natal.es/piscis.php" target="_signo">
						<img src="../static/imagenes/Piscis.png" class="centrado" class="img-responsive">
						<h1 id="titulo1" class="text-center">Piscis</h1>
						<p id="titulo3" class="text-center">20 de febrero - 20 de marzo</p>
						<p id="titulo3" class="text-center">https://carta-natal.es/piscis.php</p>
					</a>
				</div>
			</div>
		</div>

	</div>
</body>
{% endblock %}


</html>