<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fin Inscripción</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"/>
    <link href="../static/css/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet"/>	
</head>
<body style="margin: 60px 0" class="bg-success">

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h3 class="text-light bg-dark"> ¡GRACIAS POR TU INSCRIPCIÓN, NOS ESTAREMOS 
                    CONTACTANDO VÍA MAIL CON VOS! </h3>
        </div>
    </div>
</div>    
</body>
</html>