<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
</head>
<body>  
<form action="#" method="POST">

      <div class="col-md-12">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" value="" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" value="" placeholder="Apellido">
        </div>
        <button type="submit" class="btn btn-success">Siguiente</button>
</form>
</body>
</html>
