{% extends "layout.htm" %}
{% block title %}Alumnos por Curso {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}

    <div class="container">
      <div class="row">
      

            <h1 style="margin: 0 0 20px 0"> Administración de Nodos</h1>

         

                <div class="col-md-12">
                  <form role="form" action="" method="post" class="form-control">

                  <table id="filtros_table" class="table">
                    <thead class="thead-light">
                      <tr>
                          <td>
                          <div class="form-group">
                              <label for="form-nodo">Nodo</label>
                              <select class="form-control" id="form-nodo" name="form-nodo">
                                <option value="0" selected>Todos</option>
                              {% for option in nodoList %}
                               <option value="{{ option.nodo_id }}">{{ option.nodo_nombre }}</option>
                               {% endfor %}
                             </select>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <label for="form-ciudad">Ciudad</label>
                                <select class="form-control" id="form-ciudad" name="form-ciudad">
                                  <option value="0" selected>Todos</option>
                                {% for option in ciudadList %}
                                 <option value="{{ option.ciud_id }}">{{ option.ciud_nombre }}</option>
                                 {% endfor %}
                               </select>
                              </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <label for="form-estado">Estado</label>
                                <select id="form-estado" class="form-control" name="form-estado"  >
                                  <option value="Todos" >Todos</option>
                                  <option value="Activo" SELECTED>Activo</option>
                                  <option value="Inactivo">Inactivo</option>
                                </select>                          
                            </div>
                      </tr>
                      <tr>
                          <td colspan="2"/>
                          <td>
                            <div class="form-group">

                              <button type="submit" name="action" value="buscar" class="btn btn-success">Buscar</button>
                              <button type="button" name="action" value="limpiar" onclick="fnLimpiarFiltros()" class="btn btn-success">Limpiar</button>
                              <button type="button" onclick="fnDetalleNodo('agregar','0')" name="action" value="agregar" class="btn btn-primary">Agregar</button>
                            </div>
                          </td>
                      </tr>
                </thead>
                </table>
              </form>

              </div>

              
              {% block content %}
                {% if listaBusqueda %}

              <div class="col-md-12">

     
                <div class="row alumno align-items-center">

                  <div id="alumnos">
                    <table id="nodoTable" class="table table-bordered table-light">
                      {% for fila in listaBusqueda  %}
                        {% if loop.index == 1 %} 
                          <thead class="thead-light">
                              <tr>
                                  <th colspan=3></th>                             
                                  <th>ID</th>
                                  <th>Nombre</th>
                                  <th>Estado</th>
                                  <th>Ciudad</th>
                                  <th>Pais</th>
                              </tr>
                          </thead>
                        {% endif %}
                        <tbody>
                            <tr><!--/{{fila.nodo_id}}-->
                                <td><a onclick="fnDetalleNodo('detalle', {{fila.nodo_id}})" placeholder="Detalle"><img src="../static/img/grid-detalle.png"></a></td>
                                <td><a onclick="fnDetalleNodo('editar', {{fila.nodo_id}})" placeholder="Modificar"><img src="../static/img/grid-editar.png"></a></td>
                                {% if fila.nodo_estado == 'Inactivo'%}
                                  <td colspan=1></td>
                                {%else%}
                                <td><a onclick="fnDetalleNodo('eliminar', {{fila.nodo_id}})" placeholder="Eliminar"><img src="../static/img/grid-eliminar.png"></a></td> 
                                <!--<td><button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"  placeholder="Eliminar"><img src="../static/img/grid-eliminar.png"></button></td>-->
                                {%endif%}  
                                <td>{{ fila.nodo_id }}</td>
                                <td>{{ fila.nodo_nombre }}</td>
                                <td>{{ fila.nodo_estado }}</td>
                                <td><a href="/ciudad/{{fila.ciud_id}}" target="_detalle">{{fila.ciud_nombre }}</a></td>
                                <td>{{ fila.pais_nombre }}</td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                  </div> <!--nodos-->
                </div> <!--row nodos-->
     
            </div> <!-- row-->
            {% endif %}
            {% endblock %}
      
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>

<script type="text/javascript">

       jQuery(document).ready(function($){
        {% if nodoSelect %}
           $(document.querySelector("#form-nodo")).find('option[value={{nodoSelect}}]').attr('selected','selected');
        {% endif %}
        {% if ciudadSelect %}
           $(document.querySelector("#form-ciudad")).find('option[value={{ciudadSelect}}]').attr('selected','selected');

           {% endif %}
        {% if estadoSelect %}
           $(document.querySelector("#form-estado")).find('option[value={{estadoSelect}}]').attr('selected','selected');
        {% endif %}
        });
 
  function fnLimpiarFiltros(){
          document.getElementById("form-nodo").selectedIndex = 0;
          document.getElementById("form-estado").selectedIndex = "Todos";
          document.getElementById("form-ciudad").selectedIndex = 0;
  
          return true;

        }

  
  
  function fnDetalleNodo(destino, id) {
        var w = 600;
        var h = 600;
        var left = Number((screen.width/2)-(w/2));
        var tops = Number((screen.height/2)-(h/2));

        if (destino == "detalle"){
          window.open("/detalleNodo?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "editar"){
          window.open("/editarNodo?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "agregar"){
           window.open("/agregarNodo", 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        }
        if (destino == "eliminar"){
            // if (confirm("¿Confirma la operacion?")){
            //   window.open("/eliminarNodo?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
            // }
            // <button type="button" onclick="mostrarModal('Habia un pajaro chiquito')">modal titulo 1</button>
            $('#confirmModal').find('#btCancelar')
              .off('click').on('click', () => console.log('cancelar', id) );

            $('#confirmModal').find('#btAceptar')
                            .off('click').on('click', () =>  window.open("/eliminarNodo?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left) );//console.log('aceptar', id) );
            
            $("#modalTitle").html('Desactivar Nodo');

            $('#confirmModal').modal("show"); 
        }
       
          
        return false;
        
}


function mostrarModal(titulo) {
  $("#modalTitle").html(titulo);
  $("#myModal").modal("show");
}
  </script>       


{% endblock %}
