{% extends "layout.htm" %}
{% block title %}Alumnos por Curso {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}

    <div class="container">
      <div class="row">
       
            <div class="title">
            <h1 style="margin: 0 0 20px 0"> Administración de Profesores</h1>
          </div>
         

                <div class="col-md-12">
                  <form role="form" action="" method="post" class="form-control">

                  <table id="filtros_table" class="table">
                    <thead class="thead-light">
                      <tr>
                          <td>
                          <div class="form-group">
                              <label for="form-profesor">Profesor</label>
                              <select class="form-control" id="form-profesor" name="form-profesor">
                                <option value="0" selected>Todos</option>
                              {% for option in profesorList %}
                               <option value="{{ option.prof_id }}">{{ option.prof_apellido +' '+ option.prof_nombre }}</option>
                               {% endfor %}
                             </select>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                                <label for="form-ciudad">Ciudad</label>
                                <select class="form-control" id="form-ciudad" name="form-ciudad">
                                  <option value="0" selected>Todos</option>
                                {% for option in ciudadList %}
                                 <option value="{{ option.ciud_id }}">{{ option.ciud_nombre }}</option>
                                 {% endfor %}
                               </select>
                              </div>
                          </td>
                          <td>
                                <div class="form-group">
                                  <label for="form-estado">Estado</label>
                                    <select id="form-estado" class="form-control" name="form-estado"  >
                                      <option value="Todos" >Todos</option>
                                      <option value="Activo" SELECTED>Activo</option>
                                      <option value="Inactivo">Inactivo</option>
                                    </select>                          
                                </div>
                            </td>
                            <td>
                              <div class="form-group">
                                <label for="form-dni">DNI</label>
                                  <input type="number" class="form-control" id="form-dni" name="form-dni" value="{{dniSelect}}" placeholder="" >
                              </div>
                            </td>
                          </tr>
                            <tr>
                            <td colspan="3"/>
                            <td>
                              <div class="form-group">
                                <button type="submit" name="action" value="buscar" class="btn btn-success">Buscar</button>
                                <button type="button" name="action" value="limpiar" onclick="fnLimpiarFiltros()" class="btn btn-success">Limpiar</button>
                                <button type="button" onclick="fnDetalleProfesor('agregar','0')" name="action" value="agregar" class="btn btn-primary">Agregar</button>
                              </div>
                            </td>
                      </tr>
                </thead>
                </table>
              </form>

              </div>

              
              {% block content %}
                {% if listaBusqueda %}

              <div class="col-md-12">

     
                <div class="row alumno align-items-center">

                  <div id="alumnos">
                    <table id="profeTable" class="table table-bordered table-light">
                      {% for fila in listaBusqueda  %}
                        {% if loop.index == 1 %} 
                          <thead class="thead-light">
                              <tr>
                                  <th colspan=3></th>                             
                                  <th>DNI</th>
                                  <th>Nombre</th>
                                  <th>Apellido</th>
                                  <th>Estado</th>
                                  <th>Telefono</th>
                                  <th>Email</th>
                                  <th>Ciudad</th>
                                  <th>Pais</th>
                              </tr>
                          </thead>
                        {% endif %}

                          <tbody>
                              <tr> 
                                  <td><a onclick="fnDetalleProfesor('detalle', {{fila.prof_id}})" placeholder="Detalle"><img src="../static/img/grid-detalle.png"></a></td>
                                  <td><a onclick="fnDetalleProfesor('editar', {{fila.prof_id}})" placeholder="Modificar"><img src="../static/img/grid-editar.png"></a></td>
                                  {% if fila.prof_estado == 'Inactivo'%}
                                    <td colspan=1></td>
                                  {%else%}
                                  <td><a onclick="fnDetalleProfesor('eliminar', {{fila.prof_id}})" placeholder="Eliminar"><img src="../static/img/grid-eliminar.png"></a></td> 
                                  <!--<td><button type="button"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"  placeholder="Eliminar"><img src="../static/img/grid-eliminar.png"></button></td>-->
                                  {%endif%}  
                                  <td>{{ fila.prof_dni }}</td>
                                  <td>{{ fila.prof_apellido }}</td>
                                  <td>{{ fila.prof_nombre }}</td>
                                  <td>{{ fila.prof_estado }}</td>
                                  <td>{{ fila.prof_telefono }}</td>
                                  <td>{{ fila.prof_email }}</td>
                                  
                                  <td><a href="/ciudad/{{fila.ciud_id}}" target="_detalle">{{fila.ciud_nombre }}</a></td>
                                  <td>{{ fila.pais_nombre }}</td>

                              </tr>
                          </tbody>
                      {% endfor %}
                    </table>
                  </div> <!--nodos-->
                </div> <!--row nodos-->
     
            </div> <!-- row-->
            {% endif %}
            {% endblock %}
 
  
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>

<script type="text/javascript">

       jQuery(document).ready(function($){
        {% if profesorSelect %}
           $(document.querySelector("#form-profesor")).find('option[value={{profesorSelect}}]').attr('selected','selected');
        {% endif %}
        {% if ciudadSelect %}
           $(document.querySelector("#form-ciudad")).find('option[value={{ciudadSelect}}]').attr('selected','selected');
        {% endif %}
        {% if estadoSelect %}
           $(document.querySelector("#form-estado")).find('option[value={{estadoSelect}}]').attr('selected','selected');
        {% endif %}
  
          });
  
  function fnLimpiarFiltros(){
          document.getElementById("form-estado"). selectedIndex = "Todos";
          //document.getElementById("form-descripcion").selectedIndex = 0;
          document.getElementById("form-ciudad").selectedIndex = 0;
          document.getElementById("form-dni").selectedIndex = 0;
          document.getElementById("form-profesor").selectedIndex = 0;

          return true;

        }

  
  
  function fnDetalleProfesor(destino, id) 
{
        var w = 600;
        var h = 600;
        var left = Number((screen.width/2)-(w/2));
        var tops = Number((screen.height/2)-(h/2));

        if (destino == "detalle"){
          window.open("/detalleProfesor?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "editar"){
          window.open("/editarProfesor?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "agregar"){
          window.open("/agregarProfesor", 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
        } 
        if (destino == "eliminar"){
            // if (confirm("¿Confirma la operacion?")){
            //   window.open("/eliminarProfesor?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
            // }
            $('#confirmModal').find('#btCancelar')
              .off('click').on('click', () => console.log('cancelar', id) );

            $('#confirmModal').find('#btAceptar')
                            .off('click').on('click', () => window.open("/eliminarProfesor?id="+id, 'Detalle', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left) );//console.log('aceptar', id) );
            
            $("#modalTitle").html('Desactivar Profesor');

            $('#confirmModal').modal("show"); 
        }
  
        return false;
        
}
  </script>       


{% endblock %}
