{% extends "layout.htm" %}
{% block title %}Inscripción {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}  
<form action="#" method="POST">

      <div class="col-md-12">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" value="" placeholder="Nombre">
        </div>

        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" value="" placeholder="Apellido">
        </div>
        <button type="submit" class="btn btn-success">Siguiente</button>
</form>
 
{% endblock %}
